<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container">
      <form method="post" action="/user">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Nome de Usuario</label
          >
          <input
            type="text"
            class="form-control"
            id="nome"
            name="nome"
            placeholder="Digite o Nome de Usuario"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >E-mail</label
          >
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            placeholder="Digite o Seu E-mail"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Senha</label>
          <input
            type="password"
            class="form-control"
            id="senha"
            name="senha"
            placeholder="Digite a Sua Senha"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Confirma Senha</label
          >
          <input
            type="text"
            class="form-control"
            id="confirma"
            name="confirma"
            placeholder="Confirme a Sua Senha"
          />
        </div>
        <input type="submit" value="Cadastrar" />
      </form>
    </div>
  </body>
</html>
